{
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "rc/*",
      "channel": "rc",
      "prerelease": "rc-${name.replace(/^rc\\//g, '')}"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
